{% extends 'base.html' %}
{% load static %}
{% block maincontent %}
<!--inner banner-->
<div class="inner-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Login</h1>
      </div>
      <div class="col-md-5">
        <ol class="breadcrumb">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li class="active">Login</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!--inner banner End-->

<!--Main Content Start-->
<div class="main-content padding-12">
  <section class="appointment-form">
    <div class="container">
      <div class="row">
        <div class="col-sm-12" >
          <form action="{% url 'authenticate_patient' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="app-form">
              <div class="col-md-6 col-sm-6">
                <label for="username">Patient ID:</label>
                  <input type="text" name="username" placeholder="Username"><br>
                <label for="password">Password:</label>
                  <input type="password" name="password" placeholder="Password"><br><br>
                <label>
                  <input type="checkbox" checked="checked" name="remember"> Remember me
                </label><br>
                  <input type="submit" value="login">
              </div>
            </div>  
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock maincontent %}
<!--Main Content End-->