{% extends 'base.html' %}
{% load static %}
{% block maincontent %}
<!--inner banner-->
<div class="inner-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-7">
        <h1>Gallery</h1>
      </div>
      <div class="col-xs-5">
        <ol class="breadcrumb">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li class="active">Gallery Small</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!--inner banner End-->

<!--Main Content Start-->

<div class="row">


  <div class="patient-details col-xs-4">
    <h3 class='p-detail'> Profile </h3>
    <img src="../../media/doctors/team1.jpg" class="patient-image">
    <div class="row">
      <div class=" patient-detail-label col-xs-5">
          Patient Name:
      </div>
      <div class=" patient-detail-value col-xs-5">
          {{ patient.name }}
      </div>
    </div>
    <div class="row">
      <div class=" patient-detail-label col-xs-5">
          Age:
      </div>
      <div class=" patient-detail-value col-xs-5">
          {{ patient.age }}
      </div>
    </div>
    <div class="row">
      <div class="patient-detail-label col-xs-5">
          Patient Id:
      </div>
      <div class="patient-detail-value col-xs-5">
          {{ patient.pid }}
      </div>
    </div>
  </div>



  



  <div class="col-xs-5" style="padding-bottom: 50px;">
    <div class="patients-appointments">
      <h3>Appointments</h3>
      <div class="row appointment-header">
        <div class="col-md-2">S.No.</div>
        <div class="col-md-5">Doctor</div>
        <div class="col-md-4">Date</div>
      </div>

      {% for appointment in appointments %}
      
      <div class="row appointment-item">
          <div class="col-md-2">{{ forloop.counter }}</div>
          <div class="col-md-5">{{  appointment.dname.name }}</div>
          <div class="col-md-4">{{ appointment.dtime.date }}</div>
      </div>
    
      {%  endfor %}

    </div><br><br>
    &nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;

  <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-danger" style="width: 300px; height: 50px;  background-color: #7E0303;  padding-top: 10px; align-content: center;"><h5>Book an Appointment</h5></button>
       
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper ">
    <div class="modal-dialog vertical-align-center" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Select the doctor name and a time that suites you</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <form class="form-class" method="POST">
          {% csrf_token %}
          <div class="form-group-row">{{form.dname}}</div>
          ,<div class="form-group-row">{{form.dtime}}</div><br>
          <button  class="btn btn-primary" type="submit" value="save" style="width: 300px; height: 50px;  background-color: #7E0303;  padding-top: 10px; align-content: center;">Confirm</button>
        </form>
        <!--</div>
        <div class="modal-footer">
        </div>-->
      </div>
    </div>
  </div>
</div>
</div>
<!--Main Content End-->
{% endblock maincontent %}